soluciones en el prestador/xds/release/XDS v6.0/producto/WSDL/adocumentrepository_services.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:ihe:iti:xds-b:2007" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="adocumentrepository_servicesService" targetNamespace="urn:ihe:iti:xds-b:2007">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:ns1="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" version="1.0">

  <xs:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0"/>

  <xs:element name="RegistryResponse" type="tns:RegistryResponse"/>

  <xs:complexType final="extension restriction" name="RegistryResponse">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="ResponseSlotList" type="ns1:SlotList"/>
      <xs:element form="qualified" minOccurs="0" name="RegistryErrorList" type="tns:RegistryErrorList"/>
    </xs:sequence>
    <xs:attribute name="status" type="xs:string"/>
    <xs:attribute name="requestId" type="xs:string"/>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="RegistryErrorList">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="RegistryError" type="tns:RegistryError"/>
    </xs:sequence>
    <xs:attribute name="highestSeverity" type="xs:string"/>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="RegistryError">
    <xs:sequence/>
    <xs:attribute name="codeContext" type="xs:string"/>
    <xs:attribute name="errorCode" type="xs:string"/>
    <xs:attribute name="location" type="xs:string"/>
    <xs:attribute name="severity" type="xs:string"/>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" version="1.0">

  <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>

  <xs:element name="RegistryObjectList" type="tns:RegistryObjectListType"/>

  <xs:element name="Slot" type="tns:Slot"/>

  <xs:complexType final="extension restriction" name="RegistryObjectListType">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="ExtrinsicObject" type="tns:ExtrinsicObject"/>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="RegistryPackage" type="tns:RegistryPackage"/>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Classification" type="tns:Classification"/>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Association" type="tns:Association"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="ExtrinsicObject">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Slot" type="tns:Slot"/>
      <xs:element form="qualified" minOccurs="0" name="Name" type="tns:InternationalStringType"/>
      <xs:element form="qualified" minOccurs="0" name="Description" type="tns:InternationalStringType"/>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Classification" type="tns:Classification"/>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="ExternalIdentifier" type="tns:ExternalIdentifier"/>
    </xs:sequence>
    <xs:attribute name="home" type="xs:string"/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="isOpaque" type="xs:boolean" use="required"/>
    <xs:attribute name="lid" type="xs:string"/>
    <xs:attribute name="mimeType" type="xs:string"/>
    <xs:attribute name="objectType" type="xs:string"/>
    <xs:attribute name="status" type="xs:string"/>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Slot">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="ValueList">
        <xs:complexType>
          <xs:sequence>
            <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Value" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="slotType" type="xs:string"/>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="InternationalStringType">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="LocalizedString" type="tns:LocalizedString"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="LocalizedString">
    <xs:sequence/>
    <xs:attribute name="charset" type="xs:string"/>
    <xs:attribute ref="xml:lang"/>
    <xs:attribute name="value" type="xs:string"/>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Classification">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Slot" type="tns:Slot"/>
      <xs:element form="qualified" minOccurs="0" name="Name" type="tns:InternationalStringType"/>
    </xs:sequence>
    <xs:attribute name="classificationNode" type="xs:string"/>
    <xs:attribute name="classificationScheme" type="xs:string"/>
    <xs:attribute name="classifiedObject" type="xs:string"/>
    <xs:attribute name="home" type="xs:string"/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="lid" type="xs:string"/>
    <xs:attribute name="nodeRepresentation" type="xs:string"/>
    <xs:attribute name="objectType" type="xs:string"/>
    <xs:attribute name="status" type="xs:string"/>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="ExternalIdentifier">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="Name" type="tns:InternationalStringType"/>
    </xs:sequence>
    <xs:attribute name="home" type="xs:string"/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="identificationScheme" type="xs:string"/>
    <xs:attribute name="lid" type="xs:string"/>
    <xs:attribute name="objectType" type="xs:string"/>
    <xs:attribute name="registryObject" type="xs:string"/>
    <xs:attribute name="status" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="RegistryPackage">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Slot" type="tns:Slot"/>
      <xs:element form="qualified" minOccurs="0" name="Name" type="tns:InternationalStringType"/>
      <xs:element form="qualified" minOccurs="0" name="Description" type="tns:InternationalStringType"/>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Classification" type="tns:Classification"/>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="ExternalIdentifier" type="tns:ExternalIdentifier"/>
    </xs:sequence>
    <xs:attribute name="home" type="xs:string"/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="lid" type="xs:string"/>
    <xs:attribute name="objectType" type="xs:string"/>
    <xs:attribute name="status" type="xs:string"/>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="Association">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Slot" type="tns:Slot"/>
    </xs:sequence>
    <xs:attribute name="associationType" type="xs:string"/>
    <xs:attribute name="home" type="xs:string"/>
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="lid" type="xs:string"/>
    <xs:attribute name="objectType" type="xs:string"/>
    <xs:attribute name="sourceObject" type="xs:string"/>
    <xs:attribute name="status" type="xs:string"/>
    <xs:attribute name="targetObject" type="xs:string"/>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="SlotList">
    <xs:sequence>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Slot" type="tns:Slot"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" xmlns:ns1="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" version="1.0">

  <xs:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0"/>

  <xs:element name="SubmitObjectsRequest" type="tns:SubmitObjectsRequest"/>

  <xs:complexType final="extension restriction" name="SubmitObjectsRequest">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns1:RegistryObjectList"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:ihe:iti:xds-b:2007" xmlns:ns3="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:ns2="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" xmlns:ns1="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" elementFormDefault="unqualified" targetNamespace="urn:ihe:iti:xds-b:2007" version="1.0">

  <xs:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0"/>

  <xs:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0"/>

  <xs:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0"/>

  <xs:element name="ProvideAndRegisterDocumentSetRequest" type="tns:ProvideAndRegisterDocumentSetRequest"/>

  <xs:element name="RegistryResponse" type="tns:RegistryResponse"/>

  <xs:element name="RetrieveDocumentSetRequest" type="tns:RetrieveDocumentSetRequest"/>

  <xs:element name="RetrieveDocumentSetResponse" type="tns:RetrieveDocumentSetResponse"/>

  <xs:complexType name="ProvideAndRegisterDocumentSetRequest">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns2:SubmitObjectsRequest"/>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Document" type="tns:DocumentType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="DocumentType">
    <xs:simpleContent>
      <xs:extension base="xs:base64Binary">
        <xs:attribute name="id" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="RegistryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns3:RegistryResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RetrieveDocumentSetRequest">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" ref="ns1:Slot"/>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="DocumentRequest" type="tns:DocumentRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="DocumentRequest">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="HomeCommunityId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="RepositoryUniqueId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="DocumentUniqueId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RetrieveDocumentSetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" ref="ns3:RegistryResponse"/>
      <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="DocumentResponse" type="tns:DocumentResponseType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="extension restriction" name="DocumentResponseType">
    <xs:sequence>
      <xs:element form="qualified" minOccurs="0" name="HomeCommunityId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="RepositoryUniqueId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="DocumentUniqueId" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="mimeType" type="xs:string"/>
      <xs:element form="qualified" minOccurs="0" name="Document" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3.org/XML/1998/namespace" version="1.0">

  <xs:attribute name="lang" type="xs:string"/>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="ProvideAndRegisterDocumentSetRequestResponse">
    <wsdl:part element="tns:RegistryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveDocumentSetRequest">
    <wsdl:part element="tns:RetrieveDocumentSetRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetrieveDocumentSetRequestResponse">
    <wsdl:part element="tns:RetrieveDocumentSetResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ProvideAndRegisterDocumentSetRequest">
    <wsdl:part element="tns:ProvideAndRegisterDocumentSetRequest" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="adocumentrepository">
    <wsdl:operation name="ProvideAndRegisterDocumentSetRequest">
      <wsdl:input message="tns:ProvideAndRegisterDocumentSetRequest" name="ProvideAndRegisterDocumentSetRequest">
    </wsdl:input>
      <wsdl:output message="tns:ProvideAndRegisterDocumentSetRequestResponse" name="ProvideAndRegisterDocumentSetRequestResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDocumentSetRequest">
      <wsdl:input message="tns:RetrieveDocumentSetRequest" name="RetrieveDocumentSetRequest">
    </wsdl:input>
      <wsdl:output message="tns:RetrieveDocumentSetRequestResponse" name="RetrieveDocumentSetRequestResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="adocumentrepository_servicesServiceSoapBinding" type="tns:adocumentrepository">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ProvideAndRegisterDocumentSetRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ProvideAndRegisterDocumentSetRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ProvideAndRegisterDocumentSetRequestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveDocumentSetRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="RetrieveDocumentSetRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="RetrieveDocumentSetRequestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="adocumentrepository_servicesService">
    <wsdl:port binding="tns:adocumentrepository_servicesServiceSoapBinding" name="adocumentrepositoryPort">
      <soap:address location="http://localhost:8330/RepositorioXDS/adocumentrepository_services"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>